<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
        <welcome-file>/WEB-INF/views/start_page.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/js/*</url-pattern>
        <url-pattern>/css/*</url-pattern>

    </servlet-mapping>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>by.vasilenka.controller.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>controller</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>CommandFilter</filter-name>
        <filter-class>by.vasilenka.controller.filter.CommandFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommandFilter</filter-name>
        <servlet-name>controller</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>by.vasilenka.controller.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <servlet-name>controller</servlet-name>
    </filter-mapping>

</web-app>